body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

div {
  max-width: 600px;
  margin: 20px auto;
  background-color: cyan;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px cyan;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #e9ecef;
  border-radius: 5px;
}

input {
  width: calc(100% - 100px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: 
  #283747;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}

